@import url('./abstracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('components/components.css');

@import url('./layout/footer.css');
@import url('./layout/forms.css');
@import url('./layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');


.add {
    cursor: pointer;
}

.margin-top {
    margin-top: 3.5rem;
}
.direction-input{
    width: 90%;
    height: 2.2rem;
    background-color: var(--clr-white);
    border: 2px solid var(--clr-greenBtn);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    outline: none;
    border-radius: 5px;

}


.shake-left-right{animation:shake-left-right 1.5s linear 1 both } @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}


@media (max-width: 835px) {
    .card--mini {
        margin-bottom: 4rem;
    }

    .card--ourMenus {
        margin-bottom: 4rem;
    }

    .btn-buy {
        display: flex;
        background-color: var(--clr-greenBtn);
        color: var(--clr-white);
        border-radius: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}


.container {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;
    /* padding: 10px; */
    overflow: hidden;
}

#image {
    order: 1;
}

#text {
    order: 2;
    padding: 10px;
}


.section-container {
    display: flex;
    align-items: start;
    margin: auto;
    flex-direction: column;
}

.food-container {
    gap: 2rem;
}
.cart-green{
    background: var(--clr-greenBtn);
}
.text-white{
    color: var(--clr-white);
}
.edit{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed var(--clr-greenBtn);
    background: var(--clr-bg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.edit-part-img{
    width: 100%;
    height: 100%;
}



@media (max-width: 835px) {
    .image {
        order: 2;

    }

    #text {
        order: 1;
        /* justify-content: left; */
    }
}

.cart-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-container {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.info-container img {
    max-width: 140px;
    border-radius: 4px;
}

.info-container-info {
    flex-grow: 1;
}

.info-container input[type="number"] {
    width: 50px;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
}

.info-container button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.info-container button:hover {
    background-color: #d9534f;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .info-container {
        flex-direction: column;
    }

    .info-container img {
        margin-bottom: 10px;
    }

    .info-container input[type="number"] {
        margin-top: 10px;
    }
}

/* dish list */

.dish-container {
    width: 90%;
    background: var(--clr-white);
    border-radius: 2rem;
}

.dish-tbl {
    width: 100%;
    margin-top: 20px;
}

.dish-list {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
}


.dish-tittle {
    font-family: var(--ff-main);
    font-size: 3rem;
    color: var(--clr-greenBtn);
    border-bottom: 2px solid var(--clr-greenBtn);
    width: 100%;
    text-align: left;
}

.cart-btn {
    width: 100%;
    
}
.cart-btn-leave{
    width: 77%;
}

.btn-leave{
    background: var(--clr-green-nav);
    border: none;
}
.container-add-dish {
    margin-top: 20px;
}

/* radio */
.label-radio {
    margin-right: 10px;
    display: inline-block;
}

.radio-options {
    /* display: flex;
    flex-direction: column; */
}

.radio-label {
    margin-left: 5px;
}

.dishes-container{
    text-align: center;
}

.search-title{
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-md), 1.875rem, var(--fs-lg));
    margin: 1rem auto;
    width: 17ch;
}

.dish-search-container{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}