@import url('./abstracts/vars.css');

@import url('./base/base.css');
@import url('./base/typography.css');

@import url('components/components.css');

@import url('./layout/footer.css');
@import url('./layout/forms.css');
@import url('./layout/grid.css');
@import url('./layout/header.css');
@import url('./layout/navigation.css');


.add {
    cursor: pointer;
}


@media (max-width: 835px) {
    .card--mini {
        margin-bottom: 4rem;
    }

    .card--ourMenus {
        margin-bottom: 4rem;
    }

    .btn-buy {
        display: flex;
        background-color: var(--clr-greenBtn);
        color: var(--clr-white);
        border-radius: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}


.container {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;
    /* padding: 10px; */ 
    overflow: hidden;
}

#image {
    order: 1;
}

#text {
    order: 2;
    padding: 10px;
}


.section-container {
    display: flex;
    align-items: start;
    margin: auto;
    flex-direction: column;
}

.food-container {
    gap: 2rem;
}



@media (max-width: 835px) {
    .image {
        order: 2;
        
    }

    #text {
        order: 1;
        /* justify-content: left; */
    }
}

.cart-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-container {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.info-container img {
    max-width: 140px;
    border-radius: 4px;
}

.info-container-info {
    flex-grow: 1;
}

.info-container input[type="number"] {
    width: 50px;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
}

.info-container button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.info-container button:hover {
    background-color: #d9534f;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .info-container {
        flex-direction: column;
    }

    .info-container img {
        margin-bottom: 10px;
    }

    .info-container input[type="number"] {
        margin-top: 10px;
    }
}
