.container {
    display: flex;
}

.logo-container {
    background: var(--clr-green);
    display: grid;
    justify-content: center;
    align-content: center;
    background-size: cover;
    height: 6rem;
}

.hero-menu {
    background-position: center;
    text-align: center;
    height: min(100%, 50rem, 55rem);
    width: 100%;
    display: grid;
    align-items: center;
}

.container__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.container__infoWhyUs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card--mini {
    width: 280px;
    height: 220px;
    display: grid;
    background: var(--clr-lightGreen);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 6rem;
}

.card--ourMenus {
    display: grid;
    background: var(--clr-lightGreen);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 12rem;
    width: 205px;
}

.card-img {
    display: grid;
    justify-content: center;
    margin: auto;
}

.container__saucer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin-top: 2rem;
}

.container__information {
    position: relative;
    text-align: center;
    bottom: 125px;
}

.card {
    border-radius: 50px;
    background: var(--clr-white);
    opacity: 1;
    width: 350px;
    height: 456px;
    margin-bottom: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    text-align: center;
    gap: 4rem;
}

.grid-template {
    grid-template-columns: auto;
    gap: 0;
}

.grid-price {
    margin-left: 2rem;
    gap: 5rem;
}

.food-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.no-justifi {
    justify-content: initial;
}

.calification {
    color: var(--clr-yellow);
    width: 100%;
    font-size: var(--fs-sm);
    font-weight: bolder;
    margin: 0;
}

.calification-food {
    font-size: min(3rem, 2rem, 5rem);
}

.section-container {
    display: flex;
    align-items: start;
    margin: auto;
    flex-direction: column;
}

.cta-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cta-container-food {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carusel {
    display: none;
}

.menu-section {
    display: grid;
    margin-top: 5rem;
}

.img-container {
    margin: auto;

}

.link-food {
    text-decoration: none;
    color: var(--clr-green-nav);
}

.linkf {
    width: 350px;
    height: 280px;
    cursor: pointer;
}

.img--cards {
    margin: auto;
}

.img-weAreHere {
    width: 100%;
    display: flex;
    align-items: center;
}
.main{
    margin: 2rem 0;
    width: 350px;
    height: 530px;
    background: red;
    overflow: hidden;
    background: url(../../img/a.jpg);
    border-radius: 10px;
    box-shadow: 5px 20px 50px var(--clr-black);
}
.singin-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr-green);
}

#checkbox{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

.registation-container{
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
    width: 100%;
    background-color: var(--clr-white);
}

.options-container{
    display: flex;
    flex-direction: column;
    background: var(--clr-green-nav);
    width: 12rem;
    gap: 1rem;
}

.information-part{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
.drop-area{
    display: block;
    width: 500px;
    height: 300px;
    padding: 30px;
    background: var(--clr-white);
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--clr-greenBtn);

}
.drop-area-recort{
    display: block;
    width: 300px;
    height: 300px;
    padding: 30px;
    background: var(--clr-white);
    text-align: center;
    border-radius: 20rem;

}
.img-view{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed var(--clr-greenBtn);
    background: var(--clr-bg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.img-view-recort{
    border-radius: 10rem;
}

.admin-addcontainer{
    display: flex;
    margin: 3rem auto;
    justify-content: end;
}

@media (max-width: 1295px) {
    .container__info {
        display: none;
    }

    .carusel {
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 835px) {

    .menu-section {
        display: grid;
        margin-top: 12rem;
    }

    .container__info {
        display: none;
    }

    .carusel {
        display: block;
    }

    .footer-content {
        grid-template-columns: auto;
        text-align: center;
    }

    .card--mini {
        margin-bottom: 4rem;
    }

    .card--ourMenus {
        margin-bottom: 4rem;
    }

    .footer-content {
        grid-template-columns: auto;
        text-align: center;
    }

    .card--ourMenus {
        margin-bottom: 4rem;
    }

    .card {
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    .section-container {
        margin: auto 1rem;
    }

    .grid-template {
        gap: 0px;
    }

    .grid {
        justify-content: space-between;
        display: grid;
        width: 100%;
    }
    .cta-container-food {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .grid-price {
        gap: 0;
        margin-left: 0.5rem;
    }

    
}