:root{
    /* fonts */
    --ff-main: 'Lalezar', sans-serif;
    --ff-secondary: 'Baloo Bhaijaan 2', cursive;
    
    /* font size */
    --fs-xl: 6rem; /* 96px */
    --fs-lg: 3rem; /* 48px */
    --fs-md: 2.25rem; /* 36px */
    --fs-sm: 1.5rem; /* 24px */
    --fs-xs: 1.25rem; /* 20px */
    --fs-xxs: 1rem; /* 16px */

    /* font weight */
    --fw-bld: 900; /* bold */
    --fw-bd: 700; /* bold -> main title */
    --fw-md: 500; /* medium -> all text except title */
    --fw-rg: 400;

    /* colors */
    --clr-green:hsla(142, 59%, 16%, 1);
    --clr-green-nav:hsl(142deg 59.69% 19.72%);
    --clr-greenBtn:hsla(151, 70%, 31%, 1);
    --clr-lightGreen:hsla(152, 56%, 95%, 1);
    --clr-yellow:hsla(41, 99%, 56%, 1);
    --clr-bg:hsla(0, 0%, 95%, 1);
    --clr-white:hsla(0, 0%, 100%, 1);
    --clr-grey:hsla(0, 2%, 76%, 1);
}